 * {
   margin: 0;
   padding: 0;
 }

 a {
   text-decoration: none;
 }

 header {
   padding-bottom: 94vh;
   background-image: url(../img/bcg1.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
 }

 #nav {
   display: flex;
   text-align: center;
   color: #ffffff;
     background-color: #272b2b;
   font-size: 1.2rem;
   height: 6vh;
   justify-content: space-between;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
 }

 #nav a {
   color: #ffffff;
 }

 #mainmenu {
   box-sizing: border-box;
   background-color: #ed3f3f;
   position: relative;
   overflow: hidden;
   height: 6vh;
   clip-path: polygon(15% 0%, 90% 0%, 85% 100%, 10% 100%);
   padding: 0 9vw;
 }

 #mainmenu ul {
   display: flex;
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   font: 14px Arial, Helvetica, sans-serif;
   height: 5vh;
 }

 #mainmenu ul li {
   position: relative;
   height: 5vh;
 }

 #mainmenu ul li a {
   color: #fff;
   display: block;
   text-decoration: none;
   padding: 0 1.5vh;
   line-height: 5vh;
 }

#mainmenu a{
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  border-bottom: 1.5px solid rgba(209, 89, 89,0);
  transition: 0.3s;
}

#mainmenu a:hover{
  transition: 0.1s;
  border-bottom: 1.5px solid rgba(237, 63, 63);
}

.logo_vesta h1{
  margin-left: 5vw;
font-family: 'Courgette', cursive;

}

.header_text{
  text-align: center;
  position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
  color: #ffffff;
  font-size: 2em;
font-family: 'Cuprum', sans-serif;
}

.header_text p{
  margin-top: 50px;
}

.make_order{
  font-family: 'Cuprum', sans-serif;
  box-sizing: border-box;
  padding: 1vh 3vw 1vh 3vw;
  border-radius: 55px;
  position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -30%);
    color: white;
    font-size: 23px;
    border: 2px solid white;
    background-color: rgba(66, 66, 66, 0);
    transition: 1.5s;
}

.make_order a{
  color: white;
}

.make_order:hover{
  border: 2px solid #ed3f3f;
  background-color:  #ed3f3f;
  transition: 1.5s;
}

.about_us  h2{
  margin-top: 5vh;
  margin-left: 7vw;
  font-size: 1.7em;
  border: 1px solid black;
  width: 7vw;
}

.services  h2{
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-size: 35px;
}

.content h2{
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-size: 1.7em;
}

.block-caption{
  font-weight: bold;
  font-family: 'Cuprum', sans-serif;
  color: black;
  text-align: center;
}

.about_usphoto{
  width: 90vw;
  height: 70vh;
  margin: 5vh 0 15vh 3vw;
  background-color: #272b2b;
  position: absolute;
  background-image: url(../img/shc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about_ustext{
  background-color: #272b2b;
  width: 30vw;
  height: 85vh;
  position: absolute;
  margin-left: 55vw;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 -7px 28px rgba(0,0,0,0.22);
}

.about_ustext p{
   margin: 19%;
   color: white;
   font-size: 20px;
   font-family:  sans-serif;
}


.services{
  margin-top: 100vh;
  height: 100%;
  display: block;

}


.service_elements{
display: flex;
  height: 50vh;
  margin-bottom: 10vh;
}

.flip-card {
  width: 35vw;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.first-card:nth-child(1){
  margin-left: 7vw;
}
.second-card:nth-child(1){
  margin-left: 20vw;
}
.third-card:nth-child(1){
  margin-left: 7vw;
}
.fourth-card:nth-child(1){
  margin-left: 20vw;
}
.fifth-card:nth-child(1){
  margin-left: 7vw;
}

.flip-card-photo{
  height: 46vh;
}


.flip-card h3{
  color: white;
  font-family: 'Cuprum', sans-serif;;
  font-size: 1.5em;
  background-color: white;
  color: black;
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;

}


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}


.flip-card-front {
  background-color: #272b2b;
  color: black;
  background-repeat: no-repeat;
  background-size: cover;
}


.flip-card-back {
  background-color: #272b2b;
  color: white;
  transform: rotateY(180deg);
}

.flip-red-background{
  background-color: #ed3f3f;
}

.service-list{
  width: 80%;
  margin-top: 3vh;
  margin-left: 10%;
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
}

.service-list li{
  margin-bottom: 2vh;
  list-style-type: square;
}

.flipLightBox{
  width: 30vw;
  height: 30vh;
}
